@import url("https://fonts.googleapis.com/css2?family=Tinos");

li {
    list-style: none;
}

a {
    text-shadow: none;
    background-image: none;
}

HR {
    border-color: #8a0e53d1;
}

circle {
    cursor: pointer;
}

.column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.container {
    padding: 0
}